.Footer{
    width: 100%;
    background-color: #4a291d;
    font-family: 'Archivo', sans-serif;
    color: white;
}
.Footerimgdiv{
    position: relative;
}
.Footerimg{
    position: absolute;
    left: 0;
    right: 0;
}
.Footerone{
    width: 80%;   
    height: 220px;
    margin-left: 10%;
    border-bottom: 0.5px solid rgb(118, 117, 117); 
    display: flex;
    align-items: center;
}
.Footeroneheading{
    width: 50%;
    font-size: 48px;
    font-weight: normal;
}
.Footerone-content{
    width: 50%;
    margin-left: 60px;
}
.Footerone-contentheading{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
.Footerone-contentinput{
    width: 100%;

}
.Footerone-input{
    width: 400px;
    height: 46px;
}

.Footerone-button{
 margin-left: 30px;
  margin-top: 35px;
 width: 150px;
height: 50px;
color: white;
background-color: #de8850; 
border: none;
border-radius: 5px;
font-family: 'Inter', sans-serif;  
 font-size: 20px;
 font-weight: bold;
cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
    }
    
.Footerone-button:hover{
   background-color: #c25e1b; 
}

/* ---------------Footertwo----------- */

.Footertwo{
    width: 80%;   
    height: 500px;
    margin-left: 10%;
    border-bottom: 0.5px solid rgb(118, 117, 117); 
    display: flex;

}
.Footertwo-part{
    width: 25%;
}
.Footertwo-contentsone{
    color:#cbb1a0;  
    padding-top: 60px;
}
.Footertwo-contents{
    font-weight: normal;
    padding-top: 20px;
}
.Footertwo-contentslast{
    font-size: medium;
    font-weight: normal;
    padding-top: 10px;
}
.Footertwo-getdirection{
    margin-top: 30px;
}
/* -----------Footerfour----------- */
.Footerfour{
    width: 80%;   
    height: 330px;
    margin-left: 10%;
    border-bottom: 0.5px solid rgb(118, 117, 117); 
    font-size:small;
    font-weight:lighter;
    color:#cbb1a0;
    
}
.Footerfour-para{
    margin-top: 20px;
    text-align: justify;
}
/* -------------Footerfive--------------- */
.Footerfive{
    width: 80%;   
    height: 70px;
    margin-top: 40px;
    margin-left: 10%;
    border-bottom: 0.5px solid rgb(118, 117, 117); 
    font-size:small;
    font-weight:lighter;
    color:#cbb1a0; 
    display: flex;
    justify-content: space-between;
}
.Footerfive-two{
    display: flex;
}
.Footerfive-twotext{
    padding-left: 10px;
    padding-right: 10px;
}
.Footerfive-twoblank{
    height: 15px;
    border: 0.5px solid rgb(118, 117, 117); 
}